<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Drone House</title>
    <!-- Mi Css -->
    <link rel="stylesheet" href="css/home.css" />
    <!-- Links para Google Fonts -->

    <!-- Link para iconos -->
    <script src="https://kit.fontawesome.com/3f18cd08d9.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="left-header">
            <a href="#" class="hamburguer-button">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>

        <div class=center-header>
            <img src="/images/logoDDH.png" class="logo">
        </div>

        <div class="right-header">
            <a href="#" class="bag-button">
                <i class="fa-solid fa-bag-shopping"></i>
            </a>
        </div>

    </header>

    <main>
        <div class="information-main">
            <p>Seasonal product: Spy Drone</p>
            <h2>DIGITAL SPY DRONE </h2>
            <h3>Your watchful eye in the sky</h3>
        </div>

        <div class="know-shop">
            <div class="know"><a href="#">Do you want know more?</a></div>
            <div class="shopping"><a href="#">Start shopping now</a></div>
        </div>
    </main>

    <section class="container-one">
        <article class="drone-one">
            <h6>DRONE 1</h6>
            <h4>DIGITAL DRONE 1</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="#">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="#">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <article class="drone-two">
            <h6>DRONE 2</h6>
            <h4>DIGITAL DRONE 2</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="#">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="#">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <article class="drone-three">
            <h6>DRONE 3</h6>
            <h4>DIGITAL DRONE 3</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="#">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="#">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <!-- <div class="space"></div> -->

        <article class="drone-four">
            <h6>DRONE 4</h6>
            <h4>DIGITAL DRONE 4</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="#">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="#">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <article class="drone-four">
            <h6>DRONE 4</h6>
            <h4>DIGITAL DRONE 4</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="#">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="#">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <article class="drone-four">
            <h6>DRONE 4</h6>
            <h4>DIGITAL DRONE 4</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="#">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="#">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

    </section>

    

    <section class="nosotros">
        <h3 class="addh">ABOUT DIGITAL DRONE HOUSE</h3>
        <div class="contenedor">
            <div class="foto-equipo">
                <img src="../img/nosotros2.jpg" alt="Foto de nuestro equipo">
            </div>
            <div class="conocenos">
                <p>Scout with your Digital Drone in unexplored places</p>
                <p>Drone solutions for a new generation of work </p>
                <a href="#">
                    <div class="click">Know More</div>
                    <div class="icon"></div>
                </a>
            </div>
        </div>

    </section>

    <section class="section-two">
        <div class="where-support-pay">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-shop icon"></i>
                        <h4> Where to buy</h4>
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                    <a href="#">
                        <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                    </a>

                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-phone-volume icon"></i>
                        <h4>Support</h4>
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                    <a href="#">
                        <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                    </a>

                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-cash-register icon"></i>
                        <h4>Pay here</h4>
                        <i class="fa-solid fa-angles-right angle"></i>
                    </a>
                    <a href="#">
                        <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                    </a>

                </li>

            </ul>
        </div>

        <!-- <div class="down"> <img src="/images/logoDDH.png" class="logo-down"  alt=""></div> -->


    </section>

    <!-- Pie de página -->
    <footer>

        <div class="footer-top"></div>

        <div>
            <div>
                <a href="#"></a>
                <ul>
                    <li>
                        <a href="#">Who Are We?</a>
                    </li>
                    <li>
                        <a href="#">Call Us</a>
                    </li>
                    <li>
                        <a href="#">DDH Entertaiment</a>
                    </li>
                </ul>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-footer">
            <p>&copy; Todos los derechos reservados</p>
        </div>
    </footer>


</body>

</html>