<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Drone House</title>
    <!-- Mi Css -->
    <link rel="stylesheet" href="css/home.css" />
    <!-- Links para Google Fonts -->

    <!-- Link para iconos -->
    <script src="https://kit.fontawesome.com/3f18cd08d9.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header">
            <div class="header-detail">
                <div class="ocultar-menu-hamburguesa">
                    <form action="/home" method="GET">
                        <button type="submit" class="fas fa-bars menu menu-banner iconosHeader"></button>
                    </form>
                </div>
                <div class="logo">
                    <img src="/img/logoDDH1.png" alt="logoDDH-pnia" />
                </div>
                <nav class="header-detail">
                    <ul class="ul-nav">
                        <li><A HREF="#">Camera Drones</A></li>
                        <li><A HREF="#">Drones</A></li>
                        <li><A HREF="#">Handheld</A></li>
                    </ul>
                </nav>
            </div>
            <div class="header-detail">
                <div>
                    <form action="/home" method="GET">
                        <button type="submit" class="fas fa-search iconosHeader"></button>
                    </form>
                </div>
                <div>
                    <form action="http://localhost:5000/shopping-cart" method="GET">
                        <button type="submit" class="fas fa-shopping-cart iconosHeader"></button>
                    </form>
                </div>
                <form>
                    <nav class="navegacion">
                        <ul class="menu">
                            <li class="fas fa-user-check iconosHeader">
                                <ul class="submenu">
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/register">Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </form>
            </div>
        </div>
    </header>

    <main>
        <div class="information-main">
            <p>Seasonal product: Spy Drone</p>
            <h2>DIGITAL SPY DRONE </h2>
            <h3>Your watchful eye in the sky</h3>
        </div>

        <div class="know-shop">
            <div class="know"><a href="#">Do you want know more?</a></div>
            <div class="shopping"><a href="#">Start shopping now</a></div>
        </div>
    </main>

    <section class="container-one">
        <article class="drone-one">
            <h6>DRONE 1</h6>
            <h4>DIGITAL DRONE 1</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="http://localhost:5000/productDetail">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="http://localhost:5000/shopping-cart">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <article class="drone-two">
            <h6>DRONE 2</h6>
            <h4>DIGITAL DRONE 2</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="http://localhost:5000/productDetail">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="http://localhost:5000/shopping-cart">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <article class="drone-three">
            <h6>DRONE 3</h6>
            <h4>DIGITAL DRONE 3</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="http://localhost:5000/productDetail">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="http://localhost:5000/shopping-cart">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <!-- <div class="space"></div> -->

        <article class="drone-four">
            <h6>DRONE 4</h6>
            <h4>DIGITAL DRONE 4</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="http://localhost:5000/productDetail">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="http://localhost:5000/shopping-cart">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <article class="drone-four">
            <h6>DRONE 4</h6>
            <h4>DIGITAL DRONE 4</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="http://localhost:5000/productDetail">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="http://localhost:5000/shopping-cart">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

        <article class="drone-four">
            <h6>DRONE 4</h6>
            <h4>DIGITAL DRONE 4</h4>
            <h5>ALL IN ONE</h5>
            <div class="links">
                <a href="http://localhost:5000/productDetail">
                    <div>View More</div>
                    <div class="icon"></div>
                </a>
                <a href="http://localhost:5000/shopping-cart">
                    <div>Buy Now!</div>
                    <div class="icon"></div>
                </a>
            </div>
        </article>

    </section>

    

    <section class="nosotros">
        <h3 class="addh">ABOUT DIGITAL DRONE HOUSE</h3>
        <div class="contenedor">
            <div class="foto-equipo">
                <img src="../img/nosotros2.jpg" alt="Foto de nuestro equipo">
            </div>
            <div class="conocenos">
                <p>Scout with your Digital Drone in unexplored places</p>
                <p>Drone solutions for a new generation of work </p>
                <a href="#">
                    <div class="click">Know More</div>
                    <div class="icon"></div>
                </a>
            </div>
        </div>

    </section>

    <section class="section-two">
        <div class="where-support-pay">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-shop icon"></i>
                        <h4> Where to buy</h4>
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                    <a href="#">
                        <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                    </a>

                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-phone-volume icon"></i>
                        <h4>Support</h4>
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                    <a href="#">
                        <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                    </a>

                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-cash-register icon"></i>
                        <h4>Pay here</h4>
                        <i class="fa-solid fa-angles-right angle"></i>
                    </a>
                    <a href="#">
                        <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                    </a>

                </li>

            </ul>
        </div>

        <!-- <div class="down"> <img src="/images/logoDDH.png" class="logo-down"  alt=""></div> -->


    </section>

    <!-- Pie de página -->
    <footer>
        <div class="footer">
            <section class="margin-all ocultar-footer">
                <div class="faq-container">
                    <details open>
                        <summary class="footer-detail">Products</summary>
                        <div class="sin-margin-listas">
                            <ul>
                                <li><A HREF="#">Camera Drones</A></li>
                                <li><A HREF="#">Drones</A></li>
                                <li><A HREF="#">Handheld</A></li>
                            </ul>
                        </div>
                    </details>
                    <details open>
                        <summary class="footer-detail">Explorer</summary>
                        <div class="sin-margin-listas">
                            <ul>
                                <li><A HREF="#">Login or Register</A></li>
                                <li><A HREF="#">Supports</A></li>
                            </ul>
                        </div>
                    </details>
                </div>
            </section>
            <div class="iconos-footer">
                <A HREF="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></A>
                <A HREF="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></i></A>
                <A HREF="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square"></i></A>
                <A HREF="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></A>
                <A HREF="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo"></i></A>
            </div>
            <div>
                <p class="copyright">This site is for educational purposes only and is not for commercial purposes at
                    any time - Some materials used on this site are the property of third parties.</p>
            </div>
        </div>
    </footer>


</body>

</html>