<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/login.css" />
  <title>Formulario Login</title>
</head>

<body>
  <form action="/img/" method="POST">
    <section class="form-login">
      <div class="ubicacion-logo">
        <img src="./img/logoDDH.png" alt="logoDDH" />
      </div>

      <input class="controls-login" type="email" name="correo" id="correo" placeholder="Email address*" />
      <input class="controls-login" type="password" name="password" id="password" placeholder="password*" required
        minlength="6" />
      <button class="botons" type="submit"> LOG IN</button>


      <p class="forgot-password"> <a href="#">Forgot-password</a></p>

      <p class="or-login-with"> or login with</p>

      <section class="facebook-google">
        
        <div class="flex-fg">
          <i class="fa-brands fa-facebook-square"></i>
           <a class="facebook" href="https://facebook.com" > <button type="submit" >FACEBOOK </button></a>
        </div>

        <div class="flex-fg">
          <i class="fa-brands fa-google"></i>
          <input class="google" type="button" value="GOOGLE">
        </div>
      </section>
      <p class="by-countinuing">By continuing, you hereby agree to the Privacy Policy and Terms of Use. DJI will use the
        information provided
        by the third party you selected to register or log in.</p>

      <p class="account"><a href="#">Create Your DDH Account</a></p>

      <p class="help">Need help with login?</p>

      <div class="contenedor1">
        <nav class="contenedor2">
          <p class="Support"><a href="#">DDH Support</a></p>
          <i class="fa-solid fa-grip-lines"></i>
          <p class="FAQ"><a href="#">FAQ</a></p>
        </nav>
      </div>

      <footer class="pie-de-pagina-login">
        <p>Copyright © 2022 DJI All Rights Reserved.</p>
        <p>
          <a href="#"> Privacy Policy</a><a href="#"> Terms of Use Site Map</a>
          <a href="#"> Cookie Preferences.</a>
        </p>
        <p>
          Should you have any questions, <a href="#"> click here </a> to contact
          our dedicated customer support team.
        </p>
      </footer>
    </section>
  </form>
  <nav><div class="lista">
    <ul class="lista1">
        <li><a href="/register">Register</a></li>
        <li><a href="/login" >Log in</a></li>
        <li><a href="/productDetail">productDetail </a></li>
        <li><a href="/shopping-cart">ShoppingCart</a></li>
    </ul>
</div></nav>
</body>

</html>