<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Drone</title>
    <!-- Links para Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Link para iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
     <!-- Mi css -->
     <link rel="stylesheet" href="/css/shopping-cart.css"/>
</head>
<body>
    
  <header>
    <div class="header">
        <div class="header-detail">
            <div>
                <form action="/home" method="GET">
                    <button type="submit" class="fas fa-bars menu menu-banner iconosHeader"></button>
                </form>
            </div>
            <div>
                <img src="/img/logoDDH1.png" alt="logoDDH-pnia" />
            </div>
        </div>
        <div class="header-detail">
            <div>
                <form action="/home" method="GET">
                    <button type="submit" class="fas fa-search iconosHeader"></button>
                </form>
            </div>
            <div>
                <form action="/home" method="GET">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <button type="submit" class="fas fa-shopping-cart iconosHeader"></button>
                </form>
            </div>
            <div>
                <form action="/home" method="GET">
                    <button type="submit" class="fas fa-user-check iconosHeader"></button>
                </form>
            </div>
        </div>
    </div>
</header> -->
<!-- -----------------------------------main----------------------------------------------------------------- -->

    <main>
        <h2 class="titular1"> Resumen</h2>
        <h3 class="titular2"> Mi carrito de Compras</h3>
          <br><br>
        <div class="contenedor2Columnas"> 
          <h4>Producto</h4>
          <h4>Cantidad</h4>
        </div>
        <div class="separacion"></div>
        <div>
          <article class="item-cart"> 
            <img src="/img/camera-dji.png" alt="imagen-Articulo1" class="product-img">
            <div class="contenedor-descripcion">
              <h4 class="nombre"> Nombre producto 1</h4>
              <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="contenedor-botones">
              <div class="boton-cierre"><i class="far fa-window-close"></i></div>
              <div class="boton-cantidad">
                <i class="fas fa-angle-double-up"></i>
                1
                <i class="fas fa-angle-double-down"></i>
              </div>
              <div class="contenedor-precio"><p class="precio"> $325.325</p></div>
            </div>            
          </article>
          <div class="separacion"></div>
          <article class="item-cart"> 
            <img src="/img/unDrone.png" alt="imagen-Articulo2" class="product-img">
            <div class="contenedor-descripcion">
              <h4 class="nombre"> Nombre producto 2</h4>
              <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="contenedor-botones">
              <div class="boton-cierre"><i class="far fa-window-close"></i></div>
              <div class="boton-cantidad">
                <i class="fas fa-angle-double-up"></i>
                1
                <i class="fas fa-angle-double-down"></i>
              </div>
              <div class="contenedor-precio"><p class="precio"> $955.555</p></div>
            </div>            
          </article>
          <div class="separacion"></div>
        </div>
        <div class="seguir-comprando">
          <form action="boton"> 
            <button class="boton">Seguir Comprando</button>
          </form>         
        </div>

        <div class="contenedor-total">
          <h4>TOTAL CARRITO</h4>
          <div class="separacion"></div>
            <div class="contenedor-sub contenedor2Columnas"><p>Subtotal</p> <p>$ xxx.xxx</p></div>
            <div class="contenedor-envio contenedor2Columnas"><p>Envío</p> <p>Gratis</p></div>
          <div class="separacion"></div>
          <div class="contenedor2Columnas"><h4>TOTAL</h4> <p>$ xxx.xxx</p></div>

        <div class="contenedor-metodo-pago">
          <form action="payment-metod">
            
          </form>
        </div>

        <div class="contenedor-boton-final">
          <form action="boton">
            <button class="boton">COMPRAR AHORA</button>
          </form>
        </div>
        </div>

    </main>  
         
<!--  footer-------------------------- -----------------------------  -->
  
  <footer class="pie-de-pagina">
        <p>Copyright © 2022 DJI All Rights Reserved.</p>
        <p>
          <a href="#"> Privacy Policy</a><a href="#"> Terms of Use Site Map</a>
          <a href="#"> Cookie Preferences.</a>
        </p>
        <p>
          Should you have any questions, <a href="#"> click here </a> to contact
          our dedicated customer support team.
        </p>
      </footer>
      <nav><div class="lista">
        <ul class="lista1">
            <li><a href="/register">Register</a></li>
            <li><a href="/login" >Log in</a></li>
            <li><a href="/productDetail">productDetail </a></li>
            <li><a href="/shopping-cart">ShoppingCart</a></li>
        </ul>
</div></nav>
</body>
</html>