/* ---------------------------------Body ----------------------------------------------------------- */

/* -----------------------------------------Header ----------------------------- */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font-size: 14px; */
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0px;
}

/* section {
  width: 95%;
} */
header {
  position: fixed;
  width: 100vw;
  margin-top: 0px;
  background-color: white;
  padding: 5px;
  z-index: 200;
  border-bottom: 1px solid #d8e0e9;
  box-sizing: content-box;
}

.inonos-header {
  margin: 0px 10px;
}

.ul-nav {
  display: none;
  margin-left: -45px;
}

.menu-banner {
  margin-right: 5px;
  margin-left: 10px;
  font-size: 18px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: -30px;
  width: 99%;
}

.margin-iconos-header-der {
  margin-left: 10px;
}

.header-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
}

.ocultar-menu-hamburguesa {
  display: flex;
  padding: 5px;
}

.navbar-ocultar-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar-ocultar-menu li {
  display: none;
}

.iconosHeader {
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.navegacion {
  width: 100px;
  margin: 30px auto;
  background: #fff;
}

.navegacion ul {
  list-style: none;
  margin-top: -22px;
  margin-left: 2px;
}

.menu > li {
  position: relative;
  display: inline-block;
}

.menu > li > a {
  display: block;
  padding: 15px 20px;
  color: #353535;
  text-decoration: none;
}

.menu li a:hover {
  background-color: rgba(22, 22, 23, 0.05);
  transition: all 0.3s;
  border-radius: 2px;
}

/* Submenu*/

.submenu {
  position: absolute;
  top: 40px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.submenu li a {
  background: white;
  display: block;
  margin-left: -50px;
  padding: 10px;
  color: black;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.header-detail form {
  max-width: 35px;
  max-height: 35px;
  position: relative;
}

.content-img-user-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* --------------------------------------Main ------------------------------------------------------ */

main {
  width: 100%
}

.banner {
  padding: 5px;
  width: 100%;
  max-width: 687px;
  height: 418px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: flex-end;
  background-image: url(../img/drone1.jpg);
  background-position: bottom;
  background-size: cover;
  flex-direction: column;
  color: aliceblue;
  color: rgb(224, 239, 253);
  color: #b34056;
  position: relative;
  top: 50px;
}

.information-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5px;
}

main p {
  margin-top: 10px;
  color: #3c3c3c;
  font-weight: bold;
  font-size: x-small;
}

main h2 {
  font-weight: bold;
  font-size: x-large;
}

main h3 {
  margin-top: 0px;
  font-size: x-small;
  color: #3c3c3c;
}

.know-shop {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30%;
  text-decoration: none;
  bottom: 5px;
  display: flex;
}

.know-shop a {
  color: aliceblue;
  color: #e0effd;
  color: #b34056;
  text-decoration: none;
  font-size: x-small;
}

.know {
  margin-right: 25px;
  bottom: 10px;
  right: 5px;
  background-color: aliceblue;
  opacity: 50%;
  border-radius: 5%;
}

.shop {
  margin-left: 5px;
}

.shopping {
  bottom: 10px;
  right: 5px;
  background-color: aliceblue;
  opacity: 50%;
  border-radius: 5%;
}

/* Estilos section */

.container-one {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 55px;
  background-image: url(../img/fondo2.jpg);
  background-position:center;
  background-size:cover;
  justify-content: center;
}

.drone-one {
  position: relative;
  padding: 15px;
  display: flex;
  width: 95%;
  height: 350px;
  max-width: 390px;
  /* min-width: 320px; */
  flex-direction: column;
  align-items: center;
  background-position: bottom;
  background-size: cover;
  margin:center;
  margin: 4px;
  background-color: rgba(22, 22, 23, 0.05);
  background-image: url("/img/products/drone1.webp");
  background-position: bottom;
  background-size: cover;
}

.drone-two {
  position: relative;
  padding: 15px;
  display: flex;
  width: 95%;
  height: 350px;
  max-width: 390px;
  /* min-width: 320px; */
  flex-direction: column;
  align-items: center;
  background-position: bottom;
  background-size: cover;
  margin:center;
  margin: 4px;
  background-color: rgba(22, 22, 23, 0.05);
  background-image: url("/img/products/drone2.webp");
  background-position: bottom;
  background-size: cover;
}

.drone-three {
  position: relative;
  padding: 15px;
  display: flex;
  width: 95%;
  height: 350px;
  max-width: 390px;
  /* min-width: 320px; */
  flex-direction: column;
  align-items: center;
  background-position: bottom;
  background-size: cover;
  margin:center;
  margin: 4px;
  background-color: rgba(22, 22, 23, 0.05);
  background-image: url("/img/products/drone3.webp");
  background-position: bottom;
  background-size: cover;
}

.drone-four {
  position: relative;
  padding: 15px;
  display: flex;
  width: 95%;
  height: 350px;
  max-width: 390px;
  /* min-width: 320px; */
  flex-direction: column;
  align-items: center;
  background-position: bottom;
  background-size: cover;
  margin: center;
  margin: 4px;
  background-color: rgba(22, 22, 23, 0.05);
  background-image: url("/img/products/drone4.jpg");
  background-position: bottom;
  background-size: cover;
}

.drone-one  h6 {
  font-size:xx-large
}

.drone-one h4 {
  font-size:medium
}

.drone-one a {
  font-size:small
}


.drone-two  h6 {
  font-size:xx-large
}

.drone-two h4 {
  font-size:medium
}

.drone-two a {
  font-size:small
}

.drone-three h6 {
  font-size:xx-large
}

.drone-three h4 {
  font-size:medium
}

.drone-three a {
  font-size:small
}


.drone-four h6 {
  font-size:xx-large
}

.drone-four h4 {
  font-size:medium
}

.drone-four a {
  font-size:small
}



article h4 {
  margin: 3px;
}

.links {
  display: flex;
}

.links a {
  margin: 5px;
  text-decoration: none;
  color: #b34056;
}

/* Estilos Nosotros */

/* .nosotros {
  padding-bottom: 30px;
} */

.foto-equipo {
  width: 100%;
  max-width: 570px;
  margin: 5px;
  font-size: 1rem;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: .5rem;
  margin: auto;
  box-shadow: .5rem .5rem 1rem  #ccc,
  -.5rem -.5rem 1rem #fff
}
.foto-equipo img {
  width: 100%
}

.conocenos {
  text-align: center;
  padding: 15px 0px;
  max-width: 570px;
}

.addh {
  background-color: black;
  color: aliceblue;
  width: 100%;
  opacity: 0.75;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
}

.featuresp {
  background-color: black;
  color: aliceblue;
  width: 100%;
  opacity: 0.75;
  text-align: center;
  margin-top: 5px;
  font-size:large;
  position: relative;
  top: 50px;
  border-color: #b34056;
}

.conocenos p:nth-child(1) {
  font-size: small;
  margin: 2px;
  font-weight: bold;
}

.conocenos p:nth-child(2) {
  font-size: x-small;
  margin: 10px;
  font-weight: bolder;
}

/* .conocenos .click {
  background-color: #b34056;
  color: #ffffff;
  width: 40%;
  margin: auto;
  padding: 5px;
} */

.conocenos .click {
  background: #b34056;
  font-weight: semibold;
  color: #ffffff;
  font-size: 1rem;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: .5rem;
  transition: all 1s ease;
  cursor: pointer;
  width: 20%;
  margin: auto;
  box-shadow: .5rem .5rem 1rem  #ccc,
  -.5rem -.5rem 1rem #fff
 

}

.conocenos .click:hover {
  box-shadow: 
             .5rem .5rem 1rem #fff,
              -.5rem -.5rem 1rem #ccc
}

.conocenos .click:active {
  box-shadow: inset .2rem .2rem .5rem #fff,
              inset -.2rem -.2rem .5rem #ccc

}



.conocenos a {
  text-decoration: none;
}

.where-support-pay {
  background-color: rgb(246, 246, 246);
  width: 90%;
  margin: auto;
}

#learn-more {
  display: none;
}

.where-support-pay ul {
  padding: 10px;
}

.where-support-pay ul li {
  padding: 10px;
  display: inline;
}

.where-support-pay a {
  text-decoration: none;
  color: #333232;
  font-size: large;
  display: flex;
  align-items: flex-end;
}

.where-support-pay h4 {
  padding-left: 15px;
  padding-right: 5px;
}

.icon {
  color: rgb(145, 145, 145);
}

.section-two {
  display: flex;
  background-color: rgb(246, 246, 246);
}

.down {
  max-width: 20%;
}

.logo-down {
  width: 100%;
  margin-top: 70%;
  margin-bottom: 70%;
  margin-left: 30%;
  margin-right: 10%;
}

/* Final Main */

/* Main section accesorios */

.faq-container {
  width: 92%;
  max-width: 800px;
}

details {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d8e0e9;
  position: relative;
}

details summary {
  font-weight: bold;
  font-size: 16;
  padding: 1rem;
  cursor: pointer;
  list-style: none;
}

details p {
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  font-size: 12px;
  text-align: justify;
}

details:hover,
details[open] {
  box-shadow: 5px 5px 15px #d9d9d9;
}

/* ---------------------------- Footer ------------------------------*/
footer {
  font-size: 12px;
  margin-top: 30px;
  background-color: rgba(22, 22, 23, 0.05);
}

.footer {
  padding-bottom: 8px;
  margin-right: 5px;
  margin-left: 10px;
}

.faq-container {
  width: 92%;
  max-width: 800px;
}

details {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d8e0e9;
  position: relative;
}

details summary {
  font-weight: bold;
  font-size: 16;
  padding: 1rem;
  cursor: pointer;
  list-style: none;
}

details p {
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  font-size: 12px;
  text-align: justify;
}

details:hover,
details[open] {
  box-shadow: 5px 5px 15px #d9d9d9;
}

details summary::before {
  position: absolute;
  content: "▼";
  font-size: 1rem;
  top: 10px;
  right: 4px;
}

details[open] summary::before {
  -webkit-animation: rotate 0.6s ease-in-out both;
  animation: rotate-emoji 0.6s ease-in-out both;
}

@keyframes rotate-emoji {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

.sin-margin-listas {
  margin-top: -15px;
  margin-left: 30px;
}

.iconos-footer {
  text-align: center;
}

.iconos-footer i {
  margin-top: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: black;
}

.copyright {
  text-align: center;
  width: 95%;
}

.ocultar-footer {
  display: none;
}

.footer-detail::before {
  content: "+";
}
/* --------------------------------------------------------Media Queries---------------------------------------*/

@media (min-width: 480px) {
  /* ----------------Header-----------------*/

  .menu-banner {
    margin-right: 5px;
    margin-left: 10px;
    font-size: 18px;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .navbar-ocultar-menu {
    display: flex;
    flex-direction: row;
  }

  .margin-all {
    margin-right: 15%;
    margin-left: 10%;
  }

  .navbar-ocultar-menu li {
    display: flex;
  }
  /* ----------------------------------------------------*/
  .iconosHeader {
    background-color: transparent;
    border: none;
    font-size: 18px;
  }

  .ocultar-menu-hamburguesa {
    display: none;
  }

  .ul-nav {
    display: flex;
    justify-content: space-around;
  }

  .ul-nav li {
    margin-left: 15px;
  }

  .ocultar-footer {
    display: block;
  }

  .btn-buy-now {
    width: 100%;
    text-align: center;
  }

  .botons {
    width: 40%;
    border-radius: 2px;
  }
  .banner {
    height: 622px;
    max-width: 1000px;
    margin: auto;
  }

  .information-main p {
    font-size: medium;
  }

  .information-main h3 {
    font-size: medium;
  }

  .information-main h2 {
    font-size: xx-large;
  }

  .know-shop a {
    font-size: small;
  }

  .container-one {
    flex-wrap: wrap;
  }

    .drone-one {
    width: 95%;
    margin: 4px;
    border: #b34056 1px solid;
    box-shadow: 1px 1px 1px 1px #b34056;
  }

  .drone-two {
    width: 95%;
    margin: 4px;
    border: #b34056 1px solid;
    box-shadow: 1px 1px 1px 1px #b34056;
  }

  .drone-three {
    width: 95%;
    margin: 4px;
    border: #b34056 1px solid;
    box-shadow: 1px 1px 1px 1px #b34056;
  }

  .drone-four {
    width: 95%;
    margin: 4px;
    border: #b34056 1px solid;
    box-shadow: 1px 1px 1px 1px #b34056;
  }
  
  .container-one {
    justify-content: space-around;
  }

  .contenedor {
    display: flex;
    justify-content: center;
  }

  .contenedor h3 {
    display: block;
  }

  .foto-equipo, .conocenos {
    width: 45%;
  }

  .conocenos p:nth-child(1) {
    font-size: medium;
  }

  .conocenos p:nth-child(2) {
    font-size: small;
  }

  .conocenos .click {
  font-size: 1rem;
  width: 50%;
  max-width: 110px;
  }

  .down {
    display: none;
  }

  .section-two {
    justify-content: space-evenly;
    align-content: center;
  }

  .where-support-pay {
    width: 100%;
    /* padding: 30px; */
  }

  #id {
    display: block;
  }

  .where-support-pay ul {
    display: flex;
    justify-content: space-around;
  }

  .where-support-pay ul li {
    display: flex;
    flex-direction: column;
  }

  .where-support-pay a {
    flex-direction: column;
    align-items: center;
  }

  #learn-more {
    display: contents;
  }

  .icon {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .where-support-pay ul li h4 {
    font-size: small;
  }

  a :nth-child(3) {
    display: none;
  }

  #learn-more {
    font-size: x-small;
    display: flex;
    align-items: flex-start;
    margin: 5px;
    flex-direction: row-reverse;
  }

  .conocenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .angle {
    padding: 2px;
  }
}
/* ------------------Media query 768---------*/
@media (min-width: 768px) {
  .font-size-h h2 {
    font-size: 18px;
  }

  .navbar-ocultar-menu {
    display: flex;
    flex-direction: row;
  }

  .ul-nav {
    display: flex;
  }

  .margin-all-pc {
    margin: auto;
    margin-top: 0px;
    margin-left: -20px;
    margin-right: 40px;
    padding: 10px;
  }

  .navbar-ocultar-menu li {
    display: flex;
  }

  .ocultar-menu-hamburguesa {
    display: none;
  }

  .font-size-h {
    margin-bottom: 50px;
  }

  .footer .margin-all .faq-container {
    display: flex;
  }
  .open summary {
    font-weight: 600;
  }

  .footer {
    margin: auto;
  }

  .ocultar-footer {
    display: block;
    position: relative;
    left: 10vw;
    max-width: 70vw;
  }

  .banner {
    background-size: contain;
    max-width: 100%;
  }

  .container-one {
    justify-content: space-evenly;
  }

  .conocenos p:nth-child(1) {
    font-size: large;
  }

  .conocenos p:nth-child(2) {
    font-size: medium;
  }

  .nosotros {
    margin-right: 5px;
  }

  .foto-equipo {
    margin: 0%;
  }
}

.logo-vs-menu-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.drone-one {
  max-width: 490px;
}

.drone-two {
  max-width: 490px;
}

.drone-three {
  max-width: 490px;
}

.drone-four {
  max-width: 490px;
} 


/* ------------------Media query 1000---------*/
@media (min-width: 1300px) {
  li a {
    font-size: larger
  }

  header {
    height: 50px;
  }

  .header {
    height: 100%;
  }

  .drone-one {
    width: 800px;
    height: 696px;
    position: relative;
    background-size: cover;
    background-position: center;
    max-width: 3000px;
    max-height: 3000px;
  }

  .drone-two {
    width: 800px;
    height: 696px;
    position: relative;
    background-size: cover;
    background-position: center;
    max-width: 3000px;
    max-height: 3000px;
  }

  .drone-three {
    width: 800px;
    height: 696px;
    position: relative;
    background-size: cover;
    background-position: center;
    max-width: 3000px;
    max-height: 3000px;
  }

  .drone-four {
    width: 800px;
    height: 696px;
    position: relative;
    background-size: cover;
    background-position: center;
    max-width: 3000px;
    max-height: 3000px;
  }

  .drone-one h6 {
    font-size: 45px ;
  }

  .drone-one h4 {
    font-size: 20px ;
  }

  .drone-one a {
    font-size: medium
  }

  .drone-two h6 {
    font-size: 45px ;
  }

  .drone-two h4 {
    font-size: 20px ;
  }

  .drone-two a {
    font-size: medium
  }

  .drone-three h6 {
    font-size: 45px ;
  }

  .drone-three h4 {
    font-size: 20px ;
  }

  .drone-three a {
    font-size: medium
  }

  .drone-four h6 {
    font-size: 45px ;
  }

  .drone-four h4 {
    font-size: 20px ;
  }

  .drone-four a {
    font-size: medium
  }
  .banner {
  height: 696px;
  }

  .know-shop a {
    font-size: x-large;
  }

  .where-support-pay a {
    font-size:xx-large
  }

}
