:root {
    color: #B43056;
    color: #38393A;
    color: #000000;
    color: #ffffff;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .form-login {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    font-family: Open Sans, PingFang SC, Microsoft YaHei, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, "sans-serif";
    color: #38393A;
    box-shadow: 7px 13px 37px #38393A;   
  }
  
  .form-login img {
    width: 30%;
  }
  
  .ubicacion-logo {
    text-align: center;
    margin-bottom: 18px;
  }
  
  
  .controls-login{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 15px;
    border: 1px solid grey;
    font-size: 15px;
    color: #38393A;
  }
  
  .controls-login:hover{
    border: solid 2px black;
  }
  
  .forgot-password {
    height: 40px;
    text-align: right;
    font-size: 12px;
  }
  
  .or-login-with {
    text-align: center;
    font-size: 14px;
  }
  
  .by-countinuing {
    font-size: 10px;
    text-align: center;
    padding: 5px;
  }
  
  .flex-fg{
    display: flex;
    align-items: center;  
    position: relative;
  }
  
  .facebook-google{
    text-align: center;
  }
  
  .facebook {  
    width: 100%;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    color:  #4867AA; 
    margin: 5px 0;
    font-size: 16px;
    border-radius: 2px;
    border: solid 1px grey;
    font-weight: bolder;   
  }
  
  .facebook button{
    background-color: transparent;
    border: none;
    font-size:16px ;
    color: #4867AA;
    font-weight: bold;
  }
  
  .facebook:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #4867AA;    
  }
  
  .fa-facebook-square{
    font-size: 30px;  
    color: #4867AA; 
    margin-right: 3px; 
    position: absolute;
    left: 65px;
  }
  
  .google {
    width: 100%;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    color: #DB382C;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 2px;
    border: solid 1px grey;  
    font-weight: bolder;   
  }
  
  .google button{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #DB382C;
    font-weight: bold;
  }
  
  .fa-google{
    color:#DB382C;
    font-size: 25px; 
    margin-right: 3px; 
    position: absolute;
    left: 65px;
  }
  
  .google:hover {
    color:#DB382C;
    cursor: pointer;
  }
  
  .account {
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
  }
  
  .help {
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
  }
  
  
  /* cambio de color a los liks (etiquetas "a") con pseudo clases */
  a {
    color: #B43056;
  }
  
  /* a:visited {
    color: #38393A;
  }
   */
  .contenedor1 i {
    font-size: 10px;
    color: grey;
    margin-top: 5px;
  
  }
  
  .contenedor2 {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    margin: 5px
  }
  
  .pie-de-pagina-login {
    font-size: 10px;
    text-align: center;
    margin-top: 40px;
    background-color: rgba(189, 182, 182, 0.3);
    padding: 15px;
    word-spacing: 2px;
  }
  
  .form-login .botons {
    width: 100%;
    background-color: #B43056;
    border: none;
    padding: 10px;
    color: #ffffff;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 2px;
    font-weight: bold;
  }

  .form-login .botonstwo {
    width: 50%;
    background-color: #fff;
    border: none;
    padding: 10px;
    color: rgba(180, 48, 86, 0.5);
    margin: 10px 0;
    font-size: 16px;
    border-radius: 2px;
    font-weight: bold;
    
  }

  .btnreset {
    text-align: center;
  }
  
  /* pseudo clase para cambiar el color del botón */
  .form-login .botons:hover {
    background-color: #8b1c3b;
    cursor: pointer;
  }

  .form-login .botonstwo:hover {
    cursor: pointer;
  }