<%- include('partials/head', {titulo: 'Digital Drone House', stylesheet: 'home'}) %>

<body>
    <%- include('partials/header') %>

    <main>
        <div class="banner">
            
            <div class="information-main">
                <p>Seasonal product: Spy Drone</p>
                <h2>DIGITAL SPY DRONE </h2>
                <h3>Your watchful eye in the sky</h3>
            </div>
    
            <div class="know-shop">
                <div class="know"><a href="#">Do you want know more?</a></div>
                <div class="shopping"><a href="#">Start shopping now</a></div>
            </div>
        </div>
        <h3 class="featuresp">FEATURES PRODUCTS</h3>
        <section class="container-one">
    
            <article class="drone-one">
                <h6>DDH Mavic</h6>
                <h4>Imaging Above Everything</h4>
                <div class="links">
                    <a href="/productList/productDetail/1">
                        <div>View More</div>
                        <div class="icon"></div>
                    </a>
                    <a href="/productList/shopping-cart/1">
                        <div>Buy Now!</div>
                        <div class="icon"></div>
                    </a>
                </div>
            </article>

            <article class="drone-two">
                <h6>DDH Air 2S</h6>
                <h4>Smart Controller</h4>
                <div class="links">
                    <a href="/productList/productDetail/2">
                        <div>View More</div>
                        <div class="icon"></div>
                    </a>
                    <a href="/productList/shopping-cart/2">
                        <div>Buy Now!</div>
                        <div class="icon"></div>
                    </a>
                </div>
            </article>

            <article class="drone-three">
                <h6>DDH RONIN 4D </h6>
                <h4>The Future Is Rolling</h4>
                <div class="links">
                    <a href="/productList/productDetail/3">
                        <div>View More</div>
                        <div class="icon"></div>
                    </a>
                    <a href="/productList/shopping-cart/3">
                        <div>Buy Now!</div>
                        <div class="icon"></div>
                    </a>
                </div>
            </article>

            <article class="drone-four">
                <h6>DDH Mini 3 Pro</h6>
                <h4>Fly Mini, Create Big</h4>
                <div class="links">
                    <a href="/productList/productDetail/4">
                        <div>View More</div>
                        <div class="icon"></div>
                    </a>
                    <a href="/productList/shopping-cart/4">
                        <div>Buy Now!</div>
                        <div class="icon"></div>
                    </a>
                </div>
            </article>



            
    
        </section>
    
        <section class="nosotros">
            <h3 class="addh">ABOUT DIGITAL DRONE HOUSE</h3>
            <div class="contenedor">
                <div class="foto-equipo">
                    <img src="../img/nosotros2.jpg" alt="Foto de nuestro equipo">
                </div>
                <div class="conocenos">
                    <p>Scout with your Digital Drone in unexplored places</p>
                    <p>Drone solutions for a new generation of work </p>
                    <a>
                        <div class="click">Know More</div>
                        <div class="icon"></div>
                    </a>
                </div>
            </div>
    
        </section>
    
        <section class="section-two">
            <div class="where-support-pay">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-shop icon"></i>
                            <h4> Where to buy</h4>
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-phone-volume icon"></i>
                            <h4>Support</h4>
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-cash-register icon"></i>
                            <h4>Pay here</h4>
                            <i class="fa-solid fa-angles-right angle"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                </ul>
            </div>
    
        </section>
    
    </main>


    <!-- Pie de página -->
    <%- include('partials/footer') %>


</body>

</html>