<%- include('partials/head', {titulo: 'Login', stylesheet: 'login'}) %>

<body>
  <form action="/register" method="POST">
    <section class="form-login">
      <div class="ubicacion-logo">
        <a href="/"><img src="./img/logoDDH.png" alt="logoDDH" /></a>
      </div>

      <% if (locals.errors && errors.email) { %>
        <div class="text-danger">
          <%= errors.email.msg %>
        </div>
        <% } %>
      <input class="controls-login" type="email" name="correo" id="correo" placeholder="Email address*" >
      <% if (locals.errors && errors.password) { %>
        <div class="text-danger">
          <%= errors.password.msg %>
        </div>
        <% } %>
      <input class="controls-login" type="password" name="password" id="password" placeholder="password*" 
      />
      <div class="form-check">
        <label>
          <input type="checkbox" class="form-check-input" name="remember_user">Remember user
        </label>
      </div>
      <button class="botons" type="submit"> LOG IN</button>


      <p class="forgot-password"> <a href="#">Forgot-password</a></p>

      <p class="or-login-with"> or login with</p>

      <section class="facebook-google">
        
        <div class="flex-fg">
          <i class="fa-brands fa-facebook-square"></i>
           <a class="facebook" href="https://facebook.com/" > <button type="submit" >FACEBOOK </button></a>
        </div>

        <div class="flex-fg">
          <i class="fa-brands fa-google"></i>
          <a class="google" href="https://accounts.google.com/" > <button type="submit" >GOOGLE </button></a>
         
        </div>
      </section>
      <p class="by-countinuing">By continuing, you hereby agree to the Privacy Policy and Terms of Use. DJI will use the
        information provided
        by the third party you selected to register or log in.</p>

      <p class="account"><a href="/register">Create Your DDH Account</a></p>

      <p class="help">Need help with login?</p>

      <div class="contenedor1">
        <nav class="contenedor2">
          <p class="Support"><a href="#">DDH Support</a></p>
          <i class="fa-solid fa-grip-lines"></i>
          <p class="FAQ"><a href="#">FAQ</a></p>
        </nav>
      </div>

      <div class="pie-de-pagina-login">
        <p>Copyright © 2022 DJI All Rights Reserved.</p>
        <p>
          <a href="#"> Privacy Policy</a><a href="#"> Terms of Use Site Map</a>
          <a href="#"> Cookie Preferences.</a>
        </p>
        <p>
          Should you have any questions, <a href="#"> click here </a> to contact
          our dedicated customer support team.
        </p>
      </div>
    </section>
  </form>
 </body>

</html>