<%- include('partials/head', {titulo: 'Digital Drone House', stylesheet: 'error404'}) %>

<body>
    <%- include('partials/header') %>

    <div class="error404">
        <p>404</p>
        <h2>Sorry, the page was not found. </h2>
        <h3>Click below to return to the Digital Drone House Official Website homepage.</h3>

        <div class="contenedor-boton-final">
            <form action="boton">
              <button class="boton"><a class="text-button" href="http://localhost:5000/">Back to DDH Official Website </a></button>
            </form>
          </div>
    </div>

</body>
</html>

