<%- include('partials/head', {titulo: 'Product List', stylesheet: 'productList'}) %>

<body>
    <%- include('partials/header') %>

    <main>
        <section class="container-one">
            <article class="drone-one">
                <h6>DRONE 1</h6>
                <h4>DIGITAL DRONE 1</h4>
                <h5>ALL IN ONE</h5>
                <div class="links">
                    <a href="/productDetail">
                        <div>View More</div>
                        <div class="icon"></div>
                    </a>
                    <a href="/shopping-cart">
                        <div>Buy Now!</div>
                        <div class="icon"></div>
                    </a>
                </div>
            </article>
    
            <article class="drone-two">
                <h6>DRONE 2</h6>
                <h4>DIGITAL DRONE 2</h4>
                <h5>ALL IN ONE</h5>
                <div class="links">
                    <a href="/productDetail">
                        <div>View More</div>
                        <div class="icon"></div>
                    </a>
                    <a href="/shopping-cart">
                        <div>Buy Now!</div>
                        <div class="icon"></div>
                    </a>
                </div>
            </article>
    
            <article class="drone-three">
                <h6>DRONE 3</h6>
                <h4>DIGITAL DRONE 3</h4>
                <h5>ALL IN ONE</h5>
                <div class="links">
                    <a href="/productDetail">
                        <div>View More</div>
                        <div class="icon"></div>
                    </a>
                    <a href="/shopping-cart">
                        <div>Buy Now!</div>
                        <div class="icon"></div>
                    </a>
                </div>
            </article>
    
            <!-- <div class="space"></div> -->
    
            <article class="drone-four">
                <h6>DRONE 4</h6>
                <h4>DIGITAL DRONE 4</h4>
                <h5>ALL IN ONE</h5>
                <div class="links">
                    <a href="/productDetail">
                        <div>View More</div>
                        <div class="icon"></div>
                    </a>
                    <a href="/shopping-cart">
                        <div>Buy Now!</div>
                        <div class="icon"></div>
                    </a>
                </div>
            </article>
    
        </section>
    
        <section class="section-two">
            <div class="where-support-pay">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-shop icon"></i>
                            <h4> Where to buy</h4>
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-phone-volume icon"></i>
                            <h4>Support</h4>
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-cash-register icon"></i>
                            <h4>Pay here</h4>
                            <i class="fa-solid fa-angles-right angle"></i>
                        </a>
                        <a href="#">
                            <div id="learn-more">Learn more <i class="fa-solid fa-angles-right angle"></i> </div>
                        </a>
    
                    </li>
    
                </ul>
            </div>
    
            <!-- <div class="down"> <img src="/images/logoDDH.png" class="logo-down"  alt=""></div> -->
    
    
        </section>
    
    </main>


    <!-- Pie de página -->
    <%- include('partials/footer') %>


</body>

</html>