<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/register.css" />
  <title>Formulario Registro</title>
</head>

<body>
  <form action="/register" method="POST">
    <section class="form-register">
      <div class="ubicacion-logo">
        <a href="/"><img src="./img/logoDDH.png" alt="logoDDH" /></a>
      </div>
      <h4>REGISTER BY EMAIL</h4>

      <input class="controls-register" type="email" name="correo" id="correo" placeholder="Email address*" required/>

      <input class="controls-register" type="password" name="password" id="password-1" placeholder="password*" required
        minlength="6" />
      <input class="controls-register" type="password" name="password" id="password"
        placeholder="Enter new password again*" required/>

      <div class="terms-use">
        <input type="checkbox" name="terms-use" placeholder="terms-use"> I agree to comply with the DDH <strong>Privacy Policy</strong> and <a
          href="#">Terms of Use.</a></input>
      </div>
      <button class="botons" type="submit"> REGISTER</button>

      <p class="log-in-now"><a href="/login">Log In Now</a></p>
      <p class="help">Need help with registration?</p>

      <div class="contenedor1">
        <nav class="contenedor2">
          <p class="Support"><a href="#">DDH Support</a></p>
          <i class="fa-solid fa-grip-lines"></i>
          <p class="FAQ"><a href="#">FAQ</a></p>
        </nav>
      </div>

      <footer class="pie-de-pagina">
        <p>Copyright © 2022 DJI All Rights Reserved.</p>
        <p>
          <a href="#"> Privacy Policy</a><a href="#"> Terms of Use Site Map</a>
          <a href="#"> Cookie Preferences.</a>
        </p>
        <p>
          Should you have any questions, <a href="#"> click here </a> to contact
          our dedicated customer support team.
        </p>
      </footer>
    </section>
  </form>
</body>

</html>