<footer>
    <div class="footer">
        <section class="margin-all ocultar-footer">
            <div class="faq-container">
                <details open>
                    <summary class="footer-detail">Explorer</summary>
                    <div class="sin-margin-listas">
                        <ul>
                            <li><a href="/">Home</A></li>
                            <li><a href="/productList">Products</A></li>
                            <li><a href="/productList/productCreate">Create</A></li>
                        </ul>
                    </div>
                </details>
                <details open>
                    <summary class="footer-detail">User Account</summary>
                    <div class="sin-margin-listas">
                        <ul>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    </div>
                </details>
            </div>
        </section>
        <div class="iconos-footer">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></A>
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></i></A>
            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square"></i></A>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></A>
            <a href="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo"></i></A>
        </div>
        <div>
            <p class="copyright">This site is for educational purposes only and is not for commercial purposes at
                any time - Some materials used on this site are the property of third parties.</p>
        </div>
    </div>
</footer>