<header>
    <div class="header">
        <div class="header-detail">
            <div class="ocultar-menu-hamburguesa">
                <form action="/home" method="GET">
                    <button type="submit" class="fas fa-bars menu menu-banner iconosHeader"></button>
                </form>
            </div>
            <div class="logo">
                <img src="/img/logoDDH1.png" alt="logoDDH-pnia" />
            </div>
            <nav class="header-detail">
                <ul class="ul-nav">
                    <li><a href="/">Home</A></li>
                    <li><a href="/productList">Products</A></li>
                    <li><a href="/productList/productCreate">Create</A></li>
                </ul>
            </nav>
        </div>

        <div class="header-detail ocultar-navbar">
            <div class="content-img-user-header">
                <img src="//stormsend1.djicdn.com/tpc/uploads/in_the_box/cover/a19c0e4d517c2fb5d5fdb115eea81863@retina_small.png"
                    width="40" style="border-radius: 100%;">
                <p>Hi Jhonnatan</p>
                <form>
                    <nav class="navegacion">
                        <ul class="menu">
                            <li class="fas fa-user-check iconosHeader">
                                <ul class="submenu">
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/register">Register</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </form>
            </div>
            <div class="margin-iconos-header-der">
                <form action="/home" method="GET">
                    <button type="submit" class="fas fa-search iconosHeader"></button>
                </form>
            </div>
            <div class="margin-iconos-header-der index-shopping-cart">
                <form action="/productList/shopping-cart" method="GET">
                    <button type="submit" class="fas fa-shopping-cart iconosHeader"></button>
                </form>
            </div>
        </div>
    </div>
</header>