<header>
    <div class="header">
        <div class="header-detail navbar-ocultar-menu">
            <div class="logo-vs-menu-navbar">
                <div class="ocultar-menu-hamburguesa">
                    <div class="fas fa-bars menu menu-banner iconosHeader"></div>
                </div>
                <div class="logo">
                    <img src="/img/logoDDH1.png" alt="logoDDH-pnia" />
                </div>
            </div>
            <nav class="header-detail navbar-ocultar-menu">
                <ul class="ul-nav navbar-ocultar-menu">
                    <li class="home"><a href="/">Home</a></li>
                    <li><a href="/productList">Products</A></li>
                    <% if (locals.userLogged && locals.userLogged.user_id == 1) { %>
                        <li><a href="/productList/productCreate">Create</A></li>
                    <% } %>
                </ul>
            </nav>
        </div>
        

        <div class="header-detail ocultar-navbar">
            <div class="content-img-user-header">
                    <% if (locals.isLogged) { %>
                        <img src="/img/users/<%= userLogged.avatar%>"
                            width="40" style="border-radius: 100%;">
                        <p>Hi <%= locals.userLogged.name %> </p>
                    <% } %>
                        <form>
                            <nav class="navegacion">
                                <ul class="menu">
                                    <li class="fas fa-user-check iconosHeader">
                                        <ul class="submenu">
                                            <% if (!locals.isLogged) { %>
                                                <li><a href="/login">Login</a></li>
                                                <li><a href="/register">Register</a></li>
                                            <% } else { %>
                                                 <li><a href="/logout">Logout</a></li>
                                            <% } %>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </form>
            </div>
            <div class="margin-iconos-header-der">
                <form>
                    <div class="fas fa-search iconosHeader"></div>
                </form>
            </div>
            <div class="margin-iconos-header-der index-shopping-cart">
                <form action="/productList/shopping-cart" method="GET">
                    <button type="submit" class="fas fa-shopping-cart iconosHeader"></button>
                </form>
            </div>
        </div>
    </div>
</header>